root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{sh,yml,yaml}]
indent_style = space
indent_size = 2

[*.cmd]
end_of_line = crlf

[*.{tf,tfvars}]
ij_hcl-terraform_property_alignment = 2
